{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'booking/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'booking/css/signup.css' %}" />
    
    <link rel="stylesheet" href="{% static 'booking/css/home.css' %}" />

    <link rel="stylesheet" href="{% static 'booking/css/destaque.css' %}" />
    <link rel="stylesheet" href="{% static 'booking/css/preco.css' %}" />
    <link rel="stylesheet" href="{% static 'booking/css/footer.css' %}">
    <title>Serviços</title>
</head>
<body>
    {% include 'components/header/header.html' %}
    
    <img src="{% static 'booking/images/img1.jpeg' %}" alt="produto-limpeza">
    
    {% include 'components/destaque/destaque.html' %}

    <img src="{% static 'booking/images/img3.3.jpeg' %}" alt="produto-limpeza">

    {% include 'components/preco/preco.html' %}

    {% include 'components/footer/footer.html' %}
    
</body>

</html>