{% load static %}

<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="UTF-8" />
    <title>Alterar Senha</title>
    <link rel="stylesheet" href="{% static 'booking/change_password.css' %}" />
    <link rel="stylesheet" href="{% static 'booking/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'booking/css/header.css' %}" />
  </head>
  <body>
    {% include 'components/header/header.html' %}

    <main>
      <h2>Alterar Senha</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Atualizar Senha</button>
      </form>
    </main>

    {% include 'components/footer/footer.html' %}
  </body>
</html>
