{% load static %}

<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="UTF-8" />
    <title>Password Atualizada</title>
    <link rel="stylesheet" href="{% static 'booking/css/password_sucess.css' %}" />
    <link rel="stylesheet" href="{% static 'booking/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'booking/css/header.css' %}" />
  </head>
  <body>
    {% include 'components/header/header.html' %}

    <main>
      <h2>Senha atualizada com sucesso!</h2>
      <a href="{% url 'profile' %}">Voltar ao perfil</a>
    </main>

    {% include 'components/footer/footer.html' %}
  </body>
</html>
