{% load static %} {% load socialaccount %}

<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'booking/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'booking/css/header.css' %}">

    <title>Cadastro</title>
  </head>
  <body>
    {% include 'components/header/header.html' %}
    <div class="form-wrapper">
        <h2>Crie sua conta</h2>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Nome Completo:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Palavra-passe:</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirmar palavra-passe:</label>
                {{ form.password2 }}
            </div>
            <button type="submit" class="cadastro">Cadastrar</button>
        </form>

        <h3>Ou</h3>

        <div class="social-login">
            <h3>Fazer login com:</h3>
            <a href="{% provider_login_url 'google' %}">
                <img src="{% static 'booking/images/google.png' %}" alt="Login Google" class="social-icon"/>
            </a>
            <a>
                <img src="{% static 'booking/images/facebook.png' %}" alt="Login Facebook" class="social-icon"/>
            </a>
            <a>
                <img src="{% static 'booking/images/apple.png' %}" alt="Login Apple" class="social-icon"/>
            </a>
        </div>

      </div>
    </div>
  </body>
</html>


