body {
  margin: 20px;
  padding: 80px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container centralizado com fundo semi-transparente */
.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 40px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-container h2 {
  color: #2258c3;
  margin-bottom: 10px;
}

.login-container p {
  margin-bottom: 20px;
  color: #333;
}

.login-container form button {
  background-color: #2258c3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container form button:hover {
  background-color: #fb0;
  color: #333;
}

.btn-cadastro {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #2258c3;
  font-weight: bold;
  text-decoration: none;
}

.btn-cadastro:hover {
  color: #fb0;
}
